

<div class="page-footer">

	<div class="signup-field">
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h6>Sign up for exlusive sales and product news</h6>
				</div>
				<div class="col s12 m6 l6">
					<div class="input-field newsletter">
						<div class="col s9">
			          		<input placeholder="email" id="email" type="email" class="validate">
			          	</div>
						<div class="col s3">
			          		<input type="submit" value="sign up">
			          	</div>
			        </div> 	
		        </div>
			</div>
		</div>	
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="col l4">
					<h5 class="white-text">Footer Content</h5>
					<p>Feel free to visit our stores or contact us.</p>
					<br />
					<p>Vinegade 109</p>
					<p>5000 Odense C</p>
					<p>39 88 66 22</p>
					<br />
					<p>Vestergade 910</p>
					<p>9000 Aalborg</p>
					<p>96 81 91 91</p>
				</div>
				<div class="col l4">
					<h5 class="white-text">Blog posts</h5>
					<p class="white-text">Lorem ipsum</p>
					<p>dolor sit amet, consectetur adipiscing elit.</p>
					<br />
					<p class="white-text">Ut gravida purus</p>
					<p>et erat fringilla, vitae ultricies nulla elementum.</p>
					<br />
					<p class="white-text">Cras eget mi quis </p>
					<p>Mauris non purus vel orci suscipit fringilla et rutrum magna.</p>
				</div>
				<div class="col l4">
					<h5 class="white-text">support</h5>
					
					<div class="col l6">
						<a href="#!">Terms & Conditions</a>
						<a href="#!">FAQ</a>
						<a href="#!">Payment</a>
						<a href="#!">Refunds</a>
						<a href="#!">Track Order</a>
						<a href="#!">Services</a>
						<a href="#!">Privacy & Secyrity</a>
						<a href="#!">Careers</a>
						<a href="#!">Press</a>
						<a href="#!">Corporate Information</a>
					</div>
					<div class="col l6">	
						<a href="#!">Sizing</a>
						<a href="#!">Ordering</a>
						<a href="#!">Shipping</a>
						<a href="#!">Return Policy</a>
						<a href="#!">Affilliates</a>
						<a href="#!">Find a store</a>
						<a href="#!">Site Map</a>
						<a href="#!">Sign Up & Save</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>


