<div class="container">
	
	<div class="row">
    	<div class="col s12 m12 l6">
        	<h3>CONTACT US</h3>
        
        	<form class="col s12 m12 l12 contact-form" (ngSubmit)="register(contactform, $event)" #contactform="ngForm">
	          <div class="row">
	            <div class="input-field col s12">
	              <p>Name</p>
	              <input placeholder="Your name" name="name" id="name" type="text" class="validate" [(ngModel)]="model.name">
	            </div>
	            <div class="input-field col s12">
	              <p>Name</p>
	              <input placeholder="Your email" name="email" id="email" type="email" class="validate" [(ngModel)]="model.email" required pattern="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$">
	            </div>
	          </div>
	          <div class="row">
	            <div class="input-field col s12">
	              <textarea id="textarea1" name="message" class="materialize-textarea" [(ngModel)]="model.message"></textarea>
	              <label for="textarea1">Message</label>
	            </div>
	          </div>
	          <input type="submit" value="SEND MESSAGE" class="waves-effect waves-light btn">
	        </form>
	     </div>
    </div>
		
	

</div>